* {
    font-family: 'Roboto', sans-serif;
    
}

.body {
    border: 2px solid black;     
}

.nav {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav2 {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav3 {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header {
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.img1 {
    animation: float 2000ms infinite alternate-reverse;
    
}

.discordjpg {
    animation: float 2000ms infinite alternate-reverse;
    
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
    
}


.fes {
    animation: floatv 2000ms infinite alternate-reverse;
}

@keyframes floatv {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

#about {
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px   
}

.aboutc {
    transform: translateY(20px);
}


.aboutjpg {
    animation: float 2000ms infinite alternate-reverse;
}


#dc {
    
    background-color: lightblue;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

#contact {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px
}

.input1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    margin-bottom: 20px;
}

.input2 {
    display: flex;
}

.footer {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

