* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


nav {
    height: 70px;
    background-color: #cafdff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

a {
    color: black;
    font-size: 22px;
    font-weight: 700;
    padding-left: 16px;
}

.navbar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: calc(100vh - 70px);
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 0 24px;
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img1 {
    animation: float 2000ms infinite alternate-reverse;
    
}

.discordjpg {
    animation: float 2000ms infinite alternate-reverse;
    
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
    
}


.fes {
    width: 30%;
    animation: floatv 2000ms infinite alternate-reverse;
}

@keyframes floatv {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}


/*

ABOUT

*/

#about {
    width: 100%;
    background-color: #f8ffdc;
    padding: 48px 0   
}

.aboutwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps {
    flex-direction: column;
    width: 60%;
}

.aboutc {
    transform: translateY(20px);
}


.aboutjpg {
    animation: float 2000ms infinite alternate-reverse;
}

.aboutimg {
    padding: 0 24px;
    width: 40%;
}

img {
    width: 100%;
}


.sectionpara {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0;
}


/*

DISCORD

*/


#dc {
    
    background-color: #cefeff;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

#contact {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px
}

.input1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    margin-bottom: 20px;
}

.input2 {
    display: flex;
}

.footer {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    * {
        font-size: 16px;
    }
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}